@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300&family=Kanit&display=swap');

.react-calendar {
    width: 250px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.5em;
    border-radius: 10px;
    margin-top:10em;
    margin-left:10em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color:darkorchid;
    font-family:'Fira Sans', sans-serif;
    font-size:15px;

  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
    
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
    
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    font-family:'Fira Sans', sans-serif;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 10px;
    font-family:'Fira Sans', sans-serif;
    color:darkorchid;

  }
  .react-calendar__month-view__days__day--weekend {
    color: #d10000;
    border-radius: 10px;
    font-family:'Fira Sans', sans-serif;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
    border-radius: 10px;
    font-family:'Fira Sans', sans-serif;

  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    width:250px;
    width:100%;
    padding:16px;
    font-family:'Fira Sans', sans-serif;
    

  }

  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
    border-radius: 10px;

  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    border-radius: 10px;

  }
  .react-calendar__tile--now {
    background: #ffff76;
    border-radius: 10px;

  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
    border-radius: 10px;

  }
  .react-calendar__tile--hasActive {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family:'Fira Sans', sans-serif;
    }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background:darkorchid;
    border-radius: 10px;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background:darkorchid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  .text-center{
    margin-left:10em;
  }
  .create_event{
    position: absolute;
    top:0;
    right:0;
  }
  .create_event_button{
    background-color: rgba(201, 188, 188, 0.21);
    border: none;
    color: black;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);    
    vertical-align: middle;
    font-family:'Fira Sans', sans-serif;
    
  }
  .create_event_button:hover {
    background-color: #83d4ea;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
  .create_event_icon{
    margin-right: 10px;
    vertical-align: middle;
    width:15px;
    height:15px;
  }
  .event_detail{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;
    transform: translate(-50%,-50%);
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    z-index:1000;
  }
  .new_event_header{
    position:absolute;
    top:7%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight:bold;
    font-size: 25px;
    font-family: "Consolas";
  }
  .event_title{
    margin-top: 2%;
    border:none;
    border-bottom: 2px solid #ccc;
    outline:none;
    width:98%;
    padding-bottom:10px;
    font-size: 20px;
    font-family: "Consolas";
  }
  .event_title::placeholder{
    font-size: large;
  }

  .event_title:focus{
    border-bottom: 2px solid black;
  }
  
  .close{
    position: absolute;
    top:6px;
    right:6px;
    width:25px;
    height:25px;
  }
  .close:hover{
    color: white;
    border-radius: 100%;
    background-color: red;
    cursor: pointer;
  }
  .Date_title{
    font-size: small;
    margin-top: 1em;
    font-family: "Consolas";
    margin-left: 1px;
  }
  .datepicker{
    border: 1px solid #ccc;
    margin-top: 0.5em;
    box-sizing: border-box;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image:url('../images/calendar.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 25px,25px;
    font-family: "Consolas";
  }
  .event_location{
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width:100%;
    font-family: "Consolas";
  }

  .event_notes{
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    width:100%;
  }
  
  .Note_title{
    font-size: small;
    margin-top: 1em;
    font-family: "Consolas";
    margin-left: 1px;
  }
  
  .dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 10px;
    width:40%;
    font-family: "Consolas";
    font-size: 12px;
    color: black;
    background-color: rgba(201, 188, 188, 0.21);
    border: none;
    box-shadow: 0 1px 0 #CED4DA;
  }
  .dropdown-container:before{
    content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .dropdown-menu{
    position:absolute;
    left:0;
    right:0;
    margin-top:10px;
    justify-content: center;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    max-height: 150px;
    background-color: #fff;
    z-index: 10;
  }
  .dropdown-item{
    padding:5px;
    cursor:pointer;
  }

  .dropdown-item:hover{
    background: color #9fc3f8;
  }
  .start_time{
    display:flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: space-around;
  }
  .end_time{
    display:flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: space-around;

  }
  .confirm_create{
    background-color: #90CAF9;
    border: none;
    color: black;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);    
    vertical-align: middle;
    font-family: "Consolas";
    margin-right: 20px;
  }
  .confirm_create:hover{
    background-color: #007BFF;
  }
  .confirm_cancel{
    background-color: rgba(201, 188, 188, 0.21);
    border: none;
    color: black;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);    
    vertical-align: middle;
    font-family: "Consolas";
  }
  .confirm_cancel:hover{
    background-color: #ced4da;
  }
  .confirm{
    position: absolute;
    bottom:0;
    right:0;
    padding:10px;
    font-family: "Consolas";
  }
  