.reset-password {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.429rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }
  
  .flex-container-reset {
    width: 100%;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    margin-left: 12px;
    font-size: 1.714rem;
    display: flex;
  }
  
  .cse-442-team-infinity-reset {
    color: #000;
    margin-top: 3px;
    margin-left: 0px;
    font-size: 1.5rem;
    line-height: 32px;
  }
  
  .rectangle-19-reset {
    color: #fff;
    height: 100%;
    background-color: #7a7171;
    border: 1px solid #fff;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-right: 5px;
    font-size: 1.429rem;
    display: flex;
  }
  
  .sign-in-reset {
    margin-top: 2px;
  }
  
  .rectangle-8-reset {
    width: 100%;
    height: 13px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 37px;
  }
  
  .num-3728048-200-1 {
    width: 128px;
    height: 126px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
  }
  
  .reset-your-new-passw {
    margin-bottom: 25px;
    font-size: 1.75rem;
    line-height: 40px;
  }
  
  .password-reset {
    margin-top:1em;
    margin-bottom:0.5em;
  }
  
  .rectangle-1-reset, .rectangle-20-reset {
    color: #adbac6;
    width: 35%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 15px;
    padding-top: 1px;
    padding-left: 19px;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }
  
  .confirm-reset{
    margin-bottom:0.5em;
    }

  .rectangle-2-reset {
    color: #fff;
    width: 15%;
    background-color: #adbac6;
    border: 1px solid #000;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    margin-top:1em;
    padding-top: 1px;
    padding-right: 2px;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }