.verify-page {
    color: #000;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }
  
  .flex-container-verify {
    color: #fff;
    width: 100%;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    margin-left: 12px;
    font-size: 1.5rem;
    display: flex;
  }
  
  .cse-442-team-infinity-verify {
    color: #000;
    margin-top: 3px;
    margin-left: 0px;
    font-size: 1.5rem;
    line-height: 32px;
  }

  .sign_in_verify {
    height: 100%;
    background-color: #7a7171;
    border: 1px solid #fff;
    flex-direction: row;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    padding-right: 5px;
    display: flex;
  }
  
  .sign-in-verify {
    margin-top: 2px;
  }
  
  .rectangle-verify {
    width: 100%;
    height: 13px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 37px;
  }
  
  .image-verify {
    width: 156px;
    height: 129px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
  }
  
  .enter-the-6-digits-c {
    margin-bottom: 25px;
  }
  
  .code {
    color: #adbac6;
    width: 35%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 15px;
    padding-top: 1px;
    padding-left: 19px;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }
  
  .submit {
    color: #fff;
    width: 10%;
    background-color: #adbac6;
    border: 1px solid #000;
    border-radius: 10px;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    padding-top: 1px;
    padding-right: 2px;
    font-family: Myanmar Khyay, Arial;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 27px;
    display: flex;
  }
  